label.error {
    color: red;
    font-style: italic;
}

label.jserror{
	color:red;
	font-style:italic;
	display:none;
}

div.error {
    color: red;
    font-style: italic;
}

input.error {
    background-color: #e0e0e0;
    border: 2px solid red;
    margin: 5px;
    padding: 5px;
}

div.DuesSurroundLeft{
    border: 2px solid black;
    background:url(/img/bg_menu.gif) no-repeat;
    color:white;
}

div.DuesSurroundRight{
    border:2px solid black;
    background:url(/img/bg_menu.gif)no-repeat;
    color:white;
}

hr.sectionend{
    border: 2px solid black;
}

span.Required{
    color:red;
}

.SubmitButtonActive{
    background-image:url('/img/submit-button-check.png');
    width: 158px;
    height: 45px;
}
.SubmitButtonInactive{
    background-image:url('/img/submit-button-nocheck.png');
    width: 158px;
    height: 45px;
}

#DivSchoolOther{
    display: none;
}

#DivSubjectOther{
    display: none;
}

#DivPositionOther{
    display: none;
}

h3.card-header{
    margin-top: 0px;
    background-color: firebrick;
    color:white;
}

h1#Header{
    color:firebrick;
}


